@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-primary {
  @apply w-auto justify-between  rounded-md py-2 px-5  font-bold border-zinc-800 dark:hover:bg-gray-200 dark:hover:text-black hover:bg-gray-900 hover:border-zinc-700 text-white;
}

.btn-sm {
  @apply h-7;
}

.btn-md {
  @apply h-12;
}

.btn-disabled {
  @apply w-auto cursor-not-allowed justify-between  rounded-md py-2 px-5 font-bold border-zinc-800 dark:hover:bg-gray-200 dark:hover:text-black hover:bg-gray-900 hover:border-zinc-700 text-white;
}
